<div class="col-xs-6 col-md-4">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p>
        <strong>{{ product.realPrice/100 }}€</strong>
        {% if product.realPrice < product.price %}
            <span class="glyphicon glyphicon-fire"></span>
            <i style="color:#777777">Discount of {{ product.discount }} ({{ product.discount_percentage }}%)</i>
        {% endif %}
    </p>
    <p>Manufactured by <strong>{{ product.manufacturer.name }}</strong></p>
    <p>Branded by <strong>{{ product.brand.name }}</strong></p>
    <p>
        {% for tag in product.tags %}
            <span class="label label-default">{{ tag.name }}</span>
        {% endfor %}
    </p>
</div>